PORT=3000
NODE_ENV=development

# AWS Cognito
COGNITO_CLIENT_ID=

# AWS S3
AWS_REGION=
AWS_ACCESS_KEY_ID_S3=
AWS_SECRET_ACCESS_KEY_S3=
AWS_BUCKET_NAME=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=rethread_dev
