# Dependências
node_modules/

# Build
dist/

# Ambiente
.env
.env.local
.env.*.local

# Cobertura de testes
coverage/

# TypeScript incremental
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
